<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!-- LOGO -->
        <a href="/" class="logo text-center">
            <span class="logo-lg">
                <img src="/static/images/logo.png" alt="" height="16">
            </span>
            <span class="logo-sm">
                <img src="/static/images/logo_sm.png" alt="" height="16">
            </span>
        </a>

        <!--- Sidemenu -->
        <ul class="metismenu side-nav">

            <li class="side-nav-title side-nav-item">Navigation</li>

            <li class="side-nav-item">
                <a href="/" class="side-nav-link">
                    <i class="dripicons-meter"></i>
                    <!-- <span class="badge badge-success float-right">7</span> -->
                    <span> Dashboard </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-alarm"></i>
                    <!-- <span class="badge badge-success float-right">7</span> -->
                    <span> Reminders </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-user-group"></i>
                    <span> Users </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="/user/new/">Add New</a>
                    </li>
                    <li>
                        <a href="/user">Show All</a>
                    </li>
                    <li>
                        <a href="javascript: void(0);">Upload</a>
                    </li>
                </ul>
            </li>

            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-suitcase"></i>
                    <span> Projects </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="javascript: void(0);">Add New</a>
                    </li>
                    <li>
                        <a href="javascript: void(0);">Show All</a>
                    </li>
                    <li>
                        <a href="javascript: void(0);">View Lots</a>
                    </li>
                </ul>
            </li>

            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-rocket"></i>
                    <span> EOI </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="javascript: void(0);">Add New</a>
                    </li>
                    <li>
                        <a href="javascript: void(0);">Show All</a>
                    </li>
                </ul>
            </li>

            <li class="side-nav-title side-nav-item mt-1">Marketing</li>

            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-flag"></i>
                    <span> Events </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="javascript: void(0);">Add New</a>
                    </li>
                    <li>
                        <a href="javascript: void(0);">Show All</a>
                    </li>
                </ul>
            </li>

            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-mail"></i>
                    <span> Emails </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="javascript: void(0);">Add New</a>
                    </li>
                    <li>
                        <a href="javascript: void(0);">Show All</a>
                    </li>
                </ul>
            </li>

            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-network-2"></i>
                    <span> Funnels </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="javascript: void(0);">Add New</a>
                    </li>
                    <li>
                        <a href="javascript: void(0);">Show All</a>
                    </li>
                </ul>
            </li>


        </ul>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
