{% extends "base.html" %}
{% block content %}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/">Colombo</a></li>
                    <li class="breadcrumb-item"><a href="/users">Users</a></li>
                    <li class="breadcrumb-item active">Show All</li>
                </ol>
            </div>
            <h4 class="page-title">Users</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">User Management</h4>
                <div class="button-list mb-1">
                    <button type="button" class="btn btn-success">
                        <i class="mdi mdi-account-plus mr-1"></i>
                        <span>Add New</span>
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#primary-header-modal">
                        <i class="mdi mdi-filter mr-1"></i>
                        <span>Filter</span>
                    </button>
                    <!-- Primary Header Modal -->
                    <div id="primary-header-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header modal-colored-header bg-primary">
                                    <h4 class="modal-title" id="primary-header-modalLabel">Apply a Filter</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="card d-block">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col d-flex justify-content-start">
                                                            <h5 class="card-title">Filter Using Text</h5>
                                                        </div>
                                                        <div class="col d-flex justify-content-end">
                                                            <!-- Primary Switch-->
                                                            <input type="checkbox" id="switch-search" checked data-switch="primary"/>
                                                            <label for="switch-search" data-on-label="On" data-off-label="Off"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <input id="text-search" type="text" class="form-control" maxlength="50" data-toggle="maxlength" placeholder="Use Name, Email Address or Contact Number">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card d-block">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col d-flex justify-content-start">
                                                            <h5 class="card-title">Filter Using Stage</h5>
                                                        </div>
                                                        <div class="col d-flex justify-content-end">
                                                            <!-- Primary Switch-->
                                                            <input type="checkbox" id="switch-stage" checked data-switch="primary"/>
                                                            <label for="switch-stage" data-on-label="On" data-off-label="Off"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <select class="form-control" id="select-stage">
                                                                <option>New</option>
                                                                <option>EOI</option>
                                                                <option>Sales Stage</option>
                                                                <option>Exchange</option>
                                                                <option>Settlement</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card d-block">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col d-flex justify-content-start">
                                                            <h5 class="card-title">Filter Using Role</h5>
                                                        </div>
                                                        <div class="col d-flex justify-content-end">
                                                            <!-- Primary Switch-->
                                                            <input type="checkbox" id="switch-role" checked data-switch="primary"/>
                                                            <label for="switch-role" data-on-label="On" data-off-label="Off"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <select class="form-control" id="select-role">
                                                                <option>Administrator</option>
                                                                <option>Sales Agent</option>
                                                                <option>Accountant</option>
                                                                <option>Client</option>
                                                                <option>BDM</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card d-block">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col d-flex justify-content-start">
                                                            <h5 class="card-title">Filter Using Age Bracket</h5>
                                                        </div>
                                                        <div class="col d-flex justify-content-end">
                                                            <!-- Primary Switch-->
                                                            <input type="checkbox" id="switch-age" checked data-switch="primary"/>
                                                            <label for="switch-age" data-on-label="On" data-off-label="Off"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <select class="form-control" id="select-age">
                                                                <option>15- 25</option>
                                                                <option>26 - 35</option>
                                                                <option>36 - 50</option>
                                                                <option>51+</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Apply Filter</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>

                <div class="table-responsive-sm">
                    <table class="table table-hover table-centered mb-0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ASOS Ridley High Waist</td>
                                <td>$79.49</td>
                                <td><span class="badge badge-primary">82 Pcs</span></td>
                                <td>$6,518.18</td>
                                <td class="table-action">
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Marco Lightweight Shirt</td>
                                <td>$128.50</td>
                                <td><span class="badge badge-primary">37 Pcs</span></td>
                                <td>$4,754.50</td>
                                <td class="table-action">
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Half Sleeve Shirt</td>
                                <td>$39.99</td>
                                <td><span class="badge badge-primary">64 Pcs</span></td>
                                <td>$2,559.36</td>
                                <td class="table-action">
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Lightweight Jacket</td>
                                <td>$20.00</td>
                                <td><span class="badge badge-primary">184 Pcs</span></td>
                                <td>$3,680.00</td>
                                <td class="table-action">
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>ASOS Ridley High Waist</td>
                                <td>$79.49</td>
                                <td><span class="badge badge-primary">82 Pcs</span></td>
                                <td>$6,518.18</td>
                                <td class="table-action">
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Marco Lightweight Shirt</td>
                                <td>$128.50</td>
                                <td><span class="badge badge-primary">37 Pcs</span></td>
                                <td>$4,754.50</td>
                                <td class="table-action">
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Half Sleeve Shirt</td>
                                <td>$39.99</td>
                                <td><span class="badge badge-primary">64 Pcs</span></td>
                                <td>$2,559.36</td>
                                <td class="table-action">
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Lightweight Jacket</td>
                                <td>$20.00</td>
                                <td><span class="badge badge-primary">184 Pcs</span></td>
                                <td>$3,680.00</td>
                                <td class="table-action">
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                    <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- end table-responsive-->

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>

{% endblock content %}
